@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --color-one: #232323;
    --color-two: #565656;
    --color-text: #777777;
    --color-background: #EFEFEF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    color: var(--color-text);
    font-size: 16px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.button{
    padding: 16px 42px;
    background: #000;
    color: #fff;
    border-width: 2px;
    border-radius: 5px;
    height: 60px;
    font-size: 16px;
    border: 2px solid #000;
    transition: all .5s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

input[placeholder],
textarea[placeholder]{
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
}



